* {
  margin: 0;
  padding: 0;
}
.header-info {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-img {
  width: 600px;
  padding-top: 50px;
  color: #272727;
}
.header-tittle {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.header-description {
  width: 700px;
}
.header-paragraph {
  width: 600px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px 0;
}
.btn {
  width: 160px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  padding: 10px;
}
.featured-tittle {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  padding-top: 175px;
}
.featured-pera {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.featured-section {
  width: 1900px;
  height: 930px;
}
.flower-img-conteinar {
  width: 1440px;
  /* height: 100vh; */
  /* padding-left: 230px; */
  display: flex;
  gap: 20px;
  padding-top: 45px;
  margin: auto;
}
.pink-flower-box {
  width: 500px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
#middle-flower {
  background: rgba(5, 151, 160, 0.15);
}
#last-flower {
  background: rgba(71, 125, 17, 0.15);
}
.image-tittle {
  display: flex;
  gap: 390px;
  padding-top: 20px;
}
.first-name {
  padding-left: 381px;
}

.featured-icon {
  width: 1440px;
  height: 320px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 125px;
}
.first-icon {
  width: 88px;
  height: 88px;
}
.feature-icon-text {
  display: block;
}
.first-icon h5 {
  display: inline;
}
.hot-deal-conteinar {
  display: flex;
  justify-content: center;
  gap: 215px;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.folwer-img img {
  width: 318px;
  height: 420px;
  padding: 30px 20px;
}
